body {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: black;    
}

#textbox {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    background-color: white;
}